/* Cart */
.cart-container{
    display: flex;
    gap: 20px;
}



/* empty-cart */
.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; 
    text-align: center;
    color: #333;
  }
  
  .empty-cart-icon {
    font-size: 6rem; 
    margin-bottom: 20px;
    color: #6e6d6d;
  }
  
  h2 {
    margin-bottom: 12px;
    font-size: 2rem;
  }
  
  p {
    font-size: 1rem;
    color: #666;
  }
  

