.product-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /* margin: 0 auto; */
  overflow: hidden;
  min-width: 200px;
  /* height: 100%; */
  gap: 20px;
}

/* Product top-section : image */

.product-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-bottom: 12px;
  border: 1px solid rgb(220, 218, 218);
  cursor: pointer;
}

.product-card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* Product card bottom section : details */


.product-card-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
}

.product-card-category-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.85rem;
  color: #444;
  
}

.product-card-category {
  font-size: 0.75rem;
  font-weight: 500;
  color: #9691b8;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.product-card-rating-container {
  /* margin-right: 20px; */
  display: flex;
  gap: 4px;
}

.product-card-rating {
  color: #2f4f4f;
  font-weight: bold;
}

.product-card-review {
  color: #777;
  font-size: 0.75rem;
}

.product-card-title {
  font-weight: 500;
  color: #222;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.3px;
  margin-bottom: 8px;
  cursor: pointer;
}


.product-card-price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  color: #333;
  margin-top: auto;
}

.product-card-price--original {
  font-size: 0.90rem;
  display: flex;
  align-items: center;
  gap: 4px;
}

.product-card-price--original del {
  color: #999;
  font-size: 0.75rem;
}

.product-card-price--current {
  font-size: 1rem;
  font-weight: 500;
  color: #545555;
  /* margin-top: 0; */
}

.product-card-atc-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 16px;
  background-color: #ffffff;
  border: 2px solid rgb(62, 111, 95);
  border-radius: 3px;
  color: #444;
  font-size: 0.85rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}