/* General styles */
.header_main {
  background: #ffffffde;
  width: min(100%, 1440px);
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 0 30px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.header_left{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_left .logo img {
  height: 35px;
}


/* Middle Section: Navigation Tabs */

.header_center {
  flex: 1;
  display: flex;
  justify-content: center;
  /* align-items: center;  */
  padding: 0;
}

.nav_sections {
  display: flex;
  /* align-items: center;  */
  justify-content: center; 
  padding: 0;
  margin: 0; 
}

.nav_items {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 0;
}

.nav_item {
  display: flex;
  align-items: center; 
  justify-content: center;
  padding: 10px 15px;
}

.nav_link {
  cursor: pointer;
  color: #5f5d5d;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 500;
}

.nav_link:hover {
  color: #059cee;
}

.header_dropdown_section{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.header_dropdown_link{
  text-decoration: none;
  color: rgb(82, 81, 81);
}

.header_dropdown_link:hover{
  text-decoration: underline;
  color: red;
  text-underline-offset: 4px;
}


/* Right Section */

.header_right {
  display: flex;
  align-items: center;
  gap: 20px;
}


.icon_container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

.cart_icon,
.user_icon {
  cursor: pointer;
}

.user_icon{
  font-size: 25px;
}
