/* Header.css */
.header_main {
    width: min(100%, 1440px);
    height: 50px;
    display: flex;
    justify-content: space-between;
    /* align-items: stretch; */
    padding: 0 30px;
    background-color: #dedede;
    border-bottom: 1px solid #ccc;
    position: fixed;
  }
  
  .header_left{
    display: flex;
    align-items: center;
  }

  .header_left .logo img{
    height: 20px;
  }
  
  
  .header_center {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav_links ul {
    list-style: none;
    display: flex;
    /* gap: 40px; */
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .nav_links ul li .dropdown_title {
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav_links ul li .dropdown_title:hover {
    color: #db2929;
  }
  
  .dropdown_section{
    padding: 0 20px;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .header_right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .search_input {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 14px;
    background-color: #f5f5f5;
  }
  
  
  
  
  /* .icon {
      font-size: 20px;
      cursor: pointer;
    }
    
    .with-notification {
      position: relative;
    }
    
    .with-notification::after {
      content: '1';
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: #fbbd08;
      color: white;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
    } */

.header_main-sm{
    display: none;
}
  
  